h2 {
    color: green;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Centering text: https://www.w3schools.com/css/css_align.asp */
h3 {
    text-align: center;
    font-family: cursive;
}

p {
    text-align: center;
}

button {
    display: block;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: beige;
    box-shadow: 2px 2px;
}

/* Centering an element (image): https://www.w3schools.com/tags/tag_center.ASP */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Cropping an image: https://www.w3schools.com/css/css3_object-fit.asp */
.menu_image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.logo_text {
    margin: 20px;
    color:teal
}

.menu_item {
    margin: 20px;
}

.price {
    margin-top: 5px;
}

.menu_item_text {
    padding-inline: 15px;
}